@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url('https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}

.transition-transform {
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/* Dark Theme */
.dark {
  background-color: #16151d;
  color: #f9fafb;
}

.dark-secondary {
  background-color: #222;
  color: #f9fafb;
}

/* Light Theme */
.light {
  background-color: #eef0f2;
  color: #1f2937;
}

.light-secondary {
  background-color: #fff;
  color: #1f2937;
}